@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: "MyCustomFont";
    src: url("../../font/Gilroy-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "NewFont";
    src: url("../../font/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "FontNew";
    src: url("../../font/Gilroy-Bold.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding: 13px 20px;
}

.flex-container-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-item {
    font-family: "MyCustomFont", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #363242;
}

.regular-button {
    width: 157px;
    padding: 9px 11px;
    background-color: #2a1151;
    font-size: 14px;
    color: #ffffff;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.regular-button span {
    font-family: "NewFont", sans-serif;
    text-wrap: nowrap;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.text-left { 
    width: 34%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-left img {
    width: 100%;
}

.txt-content h3{
    font-family: "Inter", system-ui;
    font-size: 20px;
    font-weight: 800;
    color:#363242;
    margin: 0 0 10px 0;
}


.txt-content p {
    font-family: "Inter", system-ui;
    font-size: 14px;
    font-weight: 400;
    color: #727078;
    margin: 0;
}

.search-container{
    width: 40px;
    display: flex;
    justify-content: end;
    overflow: hidden;
    border: 1px solid #b9b3b3;
    transition: all 0.5s ease-in-out;
    border-radius: 6px;
    button{
        height: 40px;
        width: 40px;
        border: 0;
        background-color: #ffffff;
    }
    form{
        margin-bottom: 0px;
    }
}

.search-container.active{
    width: 250px;
}

.search-container.active input{
    width: 210px;
    padding-left: 10px;
}

.search-container input {
    width: 0px;
    border: 0;
    border-radius: 5px;
    transition: width 0.4s ease;
    height: 100%;
}


.icon-button {
    background-color: #f8f8f8;
    border: 2px solid #361863;
    cursor: pointer;
    padding: 10px;
    border-radius: 7px;
    transition: width 0.4s ease, background-color 0.3s;
    font-size: 15px;
    width: 40px;
}




.txt-middle {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-button img {
    width: 100%;
}

/* table css */

.table-container table {
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
    border: 4px solid white;
}

.content {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2a1151;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
}

th {
    font-family: "FontNew", sans-serif;
    padding: 12px 11px;
    border: 1px solid #ffffff;
    font-size: 12px;
    font-weight: 400;
    color: #353b41;
}

thead {
    background-color: #e9e1e1;    
}

td {
    padding: 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #441a83;
    border: 1px solid #d6cfcf;
}

tbody tr {
    background-color: #ffffff;
    margin: 3px 2px;
    border-top: 5px solid #e1dbea;
}

table tbody tr td ul {
    list-style-type: none;
    padding-left: 0;
}

table tbody tr td i {
    float: right;
    color: #f78e31;
}

.cust-skeleton-loader {
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.cust-skeleton-loader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f5f5f5, #e6e6e6, #f5f5f5);
    animation: skeleton-loader-animation 1.2s infinite linear;
}

@keyframes skeleton-loader-animation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.col-email {
    width: 130px;
}

/* media-query */

@media screen and (max-width: 768px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 10px;
        font-size: 10px;
    }

    th,
    td {
        white-space: nowrap;
    }

    .table-container {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 576px) {
    table {
        font-size: 10px;
    }

    th,
    td {
        padding: 8px;
    }

    th,
    td {
        white-space: nowrap;
    }

    .table-container {
        overflow-x: auto;
    }

    th,
    td {
        max-width: 150px;
    }

    table {
        min-width: 1200px;
    }

    .flex-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-item {
        margin-top: 25px;
    }
}

.onboarding-body {
    padding: 0px 20px;
    background-color: #f9f7fb;
}

.onboarding-body-sub {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

.table-container {
    width: 2265px;
}

.profile-button{
    position: relative;
}

.log-out{
    width: 200px;
    position: absolute;
    top: 71px;
    right: 5px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 40px 24px;
    /* border: 1px solid black; */
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.log-out.active{
    opacity: 1;
}

.log-out button{
    width: 200px;
    background-color: #2a1151;
    padding: 10px 12px;
    color: white;
    border-radius: 5px;
}